/* ^_^ */

@font-face {
  font-family: 'ArnoPro';
  src: url('ArnoPro-Regular.otf') format('opentype'),
    url('ArnoPro-Regular.woff') format('woff');
}

::selection {
    background-color: white;
    color: black;
}

html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body,
html {
    height: 100%;
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    font-family: 'ArnoPro',serif;
}

a {
    color: white;
    text-decoration: none;
    font-family: 'ArnoPro',serif;
}

div.slideshow {
    position: relative;
}

div.slideshow-box {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -9999;
}

div.slideshow-holder {
    position: relative;
    top: 0;
    left: 0;
    width: 10000%;
    height: 100%;
    transition: left 1s;
}

div.slideshow div.slide {
    float: left;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.actions {
    color: white;
    position: absolute;
    bottom: 1rem;
    right: 0;
    text-align: right;
    z-index: 1;
    padding-right: 5rem;
    padding-bottom: 3rem;
    font-size: 1.2rem;
}

div.actions a {
    z-index: 1;
    color: white;
    display: inline-flex;
    text-decoration: none;
    font-size: 1.2rem;
}

a.prev {
    font-family: sans-serif;
    z-index: 1;
    color: white;
    padding: 1em;
    position: absolute;
    top: 45%;
    display: inline-flex;
    left: 0;
    justify-content: space-between;
    text-decoration: none;
    mix-blend-mode: difference;
    font-size: 1.2rem;
}

a.next {
    font-family: sans-serif;
    mix-blend-mode: difference;
    z-index: 1;
    color: white;
    padding: 1em;
    position: absolute;
    top: 45%;
    display: inline-flex;
    right: 0;
    justify-content: space-between;
    text-decoration: none;
    font-size: 1.2rem;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.slide-logo {
    position:fixed;
    width: 100%;
    height: 100vh;
    display: flex;

    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slide-logo img {
    width: 25vw;
}

.actions img {
    padding-right:5px;
    width: auto;
    height: 1.1rem;
}

.icon-download {
    vertical-align: middle;
}

.fixed-text img {
    padding-left:5px;
    width: auto;
    height: 1.1rem;
}

.fixed-text {
    font-size: 1.2rem;
    color: white;

    position:fixed;
    bottom:0;
    width: 100%;
    display: flex;
    flex-direction: column;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 4rem;
    line-height: 1.3;
    text-align: center;
}

@media (max-width:540px) {
    div.actions {
        top:1rem;
        left:0;
        right: unset;
        padding-left: 1rem;
    }

    div.actions a {
        display: inline-flex;
        align-items: center;
        font-size: 1rem;
        color: transparent;
    }

    .fixed-text {
        font-size: 1rem;
        padding-bottom: 1rem;
    }
    
    .slide-logo {
        margin-top: -3rem;
    }

    .slide-logo img {
        width: 57vw;
        margin-top: 0;
    }

    a.next, a.prev {
        display: none;
    }
}